*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

.container {
    width: 80%;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

::placeholder{
    font-size: 12px;
}
h2 {
    color: #333;
    margin-bottom: 20px;
}
p {
    color: #666;
    line-height: 1.6;
}
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

h1{
    color: ivory;
    font-size: 22px;
    padding: 10px;
    border-bottom: 1px solid white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
}
.messages{
    width: 90%;
    background-color: rgb(228, 228, 62);
    height: 250px;
    margin: 10px auto;
    overflow: auto;
}
button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
.message{
    list-style: none;
    padding: 8px;
    border-bottom: 1px solid silver;
}

.formulaire{
    width: 90%;
    margin: 10px auto;
}
.fc{
    padding: 60px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    width: 30%;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.container_accueil_admin {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.container_accueil_admin form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container_accueil_admin form input[type="text"],
.container_accueil_admin form input[type="submit"] {
    flex: 1 0 auto;
    margin: 10px;
}

.container_accueil_admin table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.container_accueil_admin th, .container_accueil_admin td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.container_accueil_admin th {
    background-color: #f2f2f2;
}

.container_accueil_admin td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.logout-button{
    position: absolute;
    top: 0;
    right: 0;
}

.logout-button a {
    color: inherit;
    text-decoration: none; 
}
.back-button {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.back-button:hover {
    background-color: #0056b3;
}
.error {
    color: red;
    margin-bottom: 10px;
}
.back-button a{
    color: inherit;
    text-decoration: none; 
}
input{
    width: 40%;
    height: 25px;
    padding: 3px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
button a {
    color: white;
}
input[type=submit]{
    width: 40%;
    height: 30px;
    background-color: rgb(28, 28, 235);
    color:#ddd;
    
}

input[type=submit]:hover{
    background-color: rgb(38, 38, 255);
}


