<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <script src="../public/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="fc">
        <hr><br>
        <h2><b>Formulaire de connexion</b></h2><br><hr><br><br>
        <form action="" method="post"> 
            {% if error is defined %}
                <h3>{{ error }}</h3>
            {% endif %}
            <input type="hidden" name="action" value="login">
            <input type="text" name="username" placeholder="username :" required><br><br>
            <input type="password" name="mdp" placeholder="Mot de passe :" required><br><br>
            <input type="submit" value="Connexion" class="SConnexion">
        </form>
    </div>
</body>
</html>
